# ignorando arquivos que não edito
unity_project_meu_laranjo/Library/
unity_project_meu_laranjo/Logs/
unity_project_meu_laranjo/objs/
unity_project_meu_laranjo/Packages/
unity_project_meu_laranjo/Temp
